body {
    margin: 0;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 200;
}

.logo_bar {
    width: 30%;
    height: 100%;
    float: left;
}

.logo_bar img {
    height: 80%;
    margin-top: 6px;
    padding-left: 70px;
}

.cont_bar {
    float: right;
    width: 50%;
    height: 100%;
}

.cont_bar ul li {
    float: left;
    margin-right: 40px;
    list-style: none;
}

.cont_bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    font-family: 'Alegreya', serif;
}

.cont_bar ul li a:hover {
    opacity: 1;
}


/* ------------------------------ 01 ------------------------------------------ */

.paper01 {
    width: 100%;
    height: 250px;
    background-color: #f8f8f8;
    margin: 0px;
    text-align: center;
    float: left;
    font-family: 'Alegreya', serif;
    line-height: 3.86em;
}

.paper01 h1 {
    color: #303030;
    font-size: 36px;
    font-family: 'Alegreya';
    margin: 100px 0px 0px;
}

.paper01 p {
    font-size: 18px;
    font-family: 'Alegreya Sans';
    color: #686868;
    margin: 5px 0px 10px;
}


/* --------------------------- 02 --------------------------------------------- */

.paper02 {
    padding: 5%;
    background-color: #ffffff;
    height: 840px;
    width: 90%;
    float: left;
}

.back01 {
    background-image: url(img/0-Gallery/1.jpg);
}

.back02 {
    background-image: url(img/0-Gallery/2.jpg);
}

.back03 {
    background-image: url(img/0-Gallery/3.jpg);
}

.back04 {
    background-image: url(img/0-Gallery/4.jpg);
}

.back05 {
    background-image: url(img/0-Gallery/5.jpg);
}

.back06 {
    background-image: url(img/0-Gallery/6.jpg);
}

.box-img {
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    width: 33%;
    height: 48%;
    float: left;
    margin: 2px;
}

.box-img a {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    opacity: 0;
}

.box-img a:hover {
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    float: left;
    opacity: 1;
}

.box-img a img {
    height: 40px;
    position: absolute;
    top: calc(50% - 40px);
    right: calc(50% - 20px);
}


/* ------------------------------- Footer ------------------------------------------- */

footer {
    width: 100%;
    height: 770px;
    background-color: gray;
    float: left;
}

.footer_up {
    background-color: #403d38;
    width: 90%;
    padding: 5%;
    height: 40%;
}

.box_footer {
    width: 23%;
    margin-left: 1.6%;
    float: left;
}

.box_footer h4 {
    font-size: 18px;
    color: #ffff;
    font-family: alegreya;
    margin: 0px 0px 25px;
}

.box_footer p {
    font-size: 16px;
    color: #969696;
    font-family: "alegreya sans";
    margin: 0px 0px 20px;
}

.box_footer li {
    list-style: none;
    font-size: 16px;
    font-family: "alegreya sans ";
    color: #686868;
    line-height: 1.90em;
    margin: 0px 0px 6px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.box_footer li img {
    float: left;
    margin-right: 10px;
    margin-top: 9px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.box_footer li a {
    text-decoration: none;
    font-size: 16px;
    font-family: "alegreya sans";
    color: #a9a9a9;
}

.footer_bottom {
    background-color: #353330;
    width: 90%;
    height: 25%;
    padding: 5%;
    text-align: center;
    font-size: 15px;
    font-family: "alegreya sans";
    color: #777777;
}